---
import Base from '../layouts/Base.astro';
---

<Base title="Application Requirements | Graduate School" currentPath="/application-requirments">
  <section class="page-section">
    <div class="container prose">
      <h1>Language requirements</h1>

      <p>The teaching language of the program is English. All students must submit a certificate attesting to a level at least B2 in English, according to the Common European Framework of Reference for Languages. The following international tests are admissible.</p>

      <p>IELTS (Academic Test): 6.5</p>

      <p>TOEFL (IBT) : 85</p>

      <p>Cambridge ESOL (General and Higher Education) : Minimum score required: FCE GRADE B or higher</p>

      <p>Oxford University Press. OTE: Oxford Test of English  126</p>

      <p>Pearson Test of English Academic : 70</p>

      <p>The test must have been completed no more than two years before the course starts. Please note that Primary and Secondary Education certificates or 1-year exchange programme documentation are not accepted as English certificates.</p>

      <p>Exemption</p>

      <p>If you fall into one of the categories below, you are exempt from the English language certificate:</p>

      <ul>
        <li>students with a qualification resulting from a degree programme taught entirely in English;</li>
        <li>native English-speaking students coming from: Antigua and Barbuda, Australia, Bahamas, Barbados, Belize, Canada, Dominica, Grenada, Guyana, Ireland, Jamaica, Malta, New Zealand, St Kitts and Nevis, St Lucia, St Vincent and the Grenadines, Trinidad and Tobago, United Kingdom, USA;</li>
        <li>students taking a standardised test in English (IMAT and/or SAT), only if the test is a compulsory or preferential requirement for admission to the chosen degree programme.</li>
      </ul>

      <h6>Educational background</h6>

      <p>The recruitment of students for the four double degrees in NeuroData is unified via an Internet portal. Joint admission criteria have been defined in the framework of the already existing degrees; they are extended to cover the Erasmus Mundus Joint Master in NeuroData.</p>

      <p>All candidates must have obtained a first higher education degree or demonstrate a recognised equivalent level of learning according to national legislation and practices, with outstanding grades (roughly top 10% of your class) or other study results.</p>

      <p>Students participating in the program must have obtained an undergraduate degree of at least 180 ECTS in brain sciences, life sciences, exact sciences (mathematics, physics, chemistry, engineering, computer sciences), engineering (primarily computer engineering, electrical engineering and bioengineering), psychology and cognitive sciences or equivalent by the time of application. The diplomas and transcript of completed courses and grades are required. In addition, basic knowledge in the following fields is required: general biology, math and programming in python.</p>

      <p>A Candidate currently enrolled in the last year of Bachelor's at the time of application is allowed to apply, provided – in case they are admitted – they submit proof of graduation before the NeuroData programme starts, i.e. before August.</p>
    </div>
  </section>
</Base>
