---
import Base from '../layouts/Base.astro';
---

<Base title="NeuroData | Graduate School" currentPath="/programme">
  <section class="page-section">
    <div class="container prose">
      <img src="/images/programme-banner.jpg" alt="NeuroData programme" loading="lazy">

      <h1>Programme Description</h1>

      <p>NeuroData, the innovative MSc in Brain and Data Science, is designed for students with diverse academic backgrounds. It equips them to meet the increasing demand in both scientific and societal spheres for the integration of advanced computational methods in solving complex neuroscience questions.</p>

      <p>Each partner university within the consortium has a different role during the NeuroData program.</p>

      <p>At Bar-Ilan University (BIU) in Israel, all students spend their first year gaining a strong foundation in neuroscience and data science. They are personally hosted by various research groups at the Brain Center. BIU’s Multidisciplinary Brain Research Center, with its 20-year history of teaching a unique Brain Sciences curriculum, launched the MSc in Brain and Data Science in 2020 to meet the demand for neuroscience and data science specialists.</p>

      <p>Since its launch, this program has been highly successful and attracts many outstanding students. The curriculum of this unique program consists of core courses in neuroscience and data science, which provide students from interdisciplinary backgrounds with a solid foundation in both fields.</p>

      <p>The first-year curriculum of NeuroData: MSc in Brain and Data Science is the foundation upon which students build knowledge, culminating in the Summer School at the University of Zagreb.</p>

      <p>First-Year Courses at Bar-Ilan University.</p>

      <h6>​</h6>

      <p>Because students join from diverse academic backgrounds, some may lack required preparation. All incoming students must complete placement exams in mathematics, Python, and neuroscience before the program begins. Students who do not pass will be assigned prerequisite courses in these areas during their first semester at BIU, to be taken alongside the standard NeuroData curriculum.</p>

      <p>Mandatory courses</p>

      <p><a href="/files/e38a64_c7673bf485994beabf03217c67841da8.pdf?index=true">Machine learning and neural networks for neuroscience </a></p>

      <p><a href="/files/e38a64_22b18a3c2e8b48e39364727788b1c84c.pdf?index=true">Signal and Data analysis in Neuroscience</a></p>

      <p><a href="/files/e38a64_97571470b58c490b8ec726d9e75a2ad3.pdf?index=true">Data Science and Advanced Python concepts workshop</a></p>

      <p><a href="/files/e38a64_69eee1851eed4708889e083fb148ef41.pdf?index=true">Data Science Applications in Neuroscience</a></p>

      <p>Biological Module (pick one)</p>

      <p><a href="/files/e38a64_a8d4239f9bf3422b8b380100bafba8f4.pdf">Introduction to cellular and systems neurophysiology</a></p>

      <p><a href="/files/e38a64_ea0d245a10f44d38a43993f6de2bde5e.pdf?index=true">Advanced topics in system Neurophysiology</a></p>

      <p><a href="/files/e38a64_49c7be6bf74c4295a6985ea3ccb10b10.pdf">Synaptic Neurochemistry </a></p>

      <p>Cognitive module (pick one)</p>

      <p><a href="/files/e38a64_8598c068a44c4c2b939f79278f193e3e.pdf?index=true">Brain Imaging of Language Functions</a></p>

      <p><a href="/files/e38a64_0ff221a721a04d5bb85c42a53fd0e76a.pdf?index=true">Brain and Cognition Research in the 21 Century </a></p>

      <p>Research Internship<br>
      During the first year students will complete a research project in one of the Gonda Brain Center labs.  The preliminary results of this project will be presented at the Annual Gonda Conference in March.  During the summer school,  students will present the results of the first-year internship.  This internship is not mandatory and does not carry academic ECTS.</p>

      <h5>Summer School</h5>

      <h6>School of Medicine and Faculty of Electrical Engineering and Computing, University of Zagreb, Croatia</h6>

      <p>All students will participate in a compulsory joint summer school at the University of Zagreb (UNIZG), which will be held during the summer between the first and second year. This programme is designed in an innovative way that combines an introduction to the theoretical principles of neuroscience and data science with hands-on learning.</p>

      <p>This combined approach enables students to engage actively in the programme and stimulates faster and more productive adoption of the required neuroscience and data science skill-set in a motivating environment. Students will be introduced to all steps required to conduct successfully behavioural experiments in animal models using the tools they will have developed, with micro-controllers and hardware-and-software-design skills that they will adopt throughout the course.</p>

      <p>An interdisciplinary approach and the encouragement of independent thinking in solving tasks will give students a theoretical foundation for future projects in this field. Guest lectures from leading neuroscientists and data scientists will provide an overview of the field. Mentoring sessions with industry representatives, which will take place during the summer school, will provide students with networking opportunities. A graphical abstract of the summer course is displayed below and the provisional Sylabus can be downloaded <a href="/files/e38a64_f0fc2e86f7664758b0e6565bf9fcc22e.pdf">here</a>.</p>

      <img src="/images/summer-school-program.png" alt="Summer School Program" loading="lazy">

      <h5>Biomedical Engineering</h5>

      <h6>Department of Bioengineering, Instituto Superior Técnico<br>
      University of Lisbon, Portugal</h6>

      <p>Second-year studies at the Instituto Superior Técnico (IST) focus on the biomedical and data-science engineering aspects of neuroscience as well as biomedical and data-science engineering applications for brain research and technologies. Students will be able to expand their expertise in biomedical engineering using tools to analyse and solve critical challenges in fundamental medicine as well as those faced by clinics and hospitals while applying advanced technologies to the complex problems of health systems.</p>

      <p>The approaches involve biological and biomedical imaging, ranging from cell microscopy to ultrasound and magnetic resonance imaging as well as physiological signals such as the electroencephalogram and electrocardiogram. A particular emphasis is on studying human brain function and neuro-engineering with applications in sleep, cognition, neurofeedback, and pathologies such as epilepsy, dementia, cerebrovascular, and psychiatric diseases.</p>

      <p>Second year courses at IST</p>

      <p>A student should pick 3-4 courses from the following:</p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490070&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=6HJAJtSuBqxSiH7iTo713uIrOmbmb%2BZ6Cs0aqpVWj8M%3D&reserved=0">Biomedical imaging</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490072&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=0DPvdRgfdkwmnnvA%2FPAIcVIqCJKd8jrk9Tutsp9uRoo%3D&reserved=0">Instrumentation and acquisition of Biosignals </a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490073&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=QS7aTEBkZbrAedw%2B9irW%2BulkiahMYmY7NnwXoFCCOzA%3D&reserved=0">Machine Learning in Bioengineering</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490074&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=b8GlrLiFd2DWTtJO0DRfMcbTQozRQ4T%2BT96xaeK20VM%3D&reserved=0">Neuroimaging </a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490075&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=uJmT2ZtMLia2LoTqiNeTL%2BIUbqXwkCWKOzfoad86x84%3D&reserved=0">Image Processing and Vision</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490078&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=Dcqd4cCm4UBUoL4DXoymFq8rTwgqObUe3moBcE3IgOE%3D&reserved=0">Machine Learning</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490076&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=OVbNOKFoMVQmzCW%2BV5gsk5Xw7H63u0j%2FlubgLJDNtnk%3D&reserved=0">Mathematical Models in Biomedicine</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490079&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=O%2FzQGHcuf3IG9NYjizqz8Q6BH7aj1MIHkM9pzk6dzbU%3D&reserved=0">Neuromodulation</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490080&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=iVOjF1Ia%2BaSy72%2BkpBA%2BnlKuql3QcVXn5y2oUYRGAEw%3D&reserved=0">Principles of human-machine interfaces</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490081&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=wX4XTqp9zBzQidSd5sGlg11UT%2FId0hD3hrUB8OZ%2BuQk%3D&reserved=0">Biosignals and biomedical image processing</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmebiom21%2Fdisciplina-curricular%2F845953938490082&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=YyadbZ9QSNbd9ntsNu%2FwSlDQESj%2F%2F%2FMIqPpP0h8jqfM%3D&reserved=0">Advance imaging techniques</a></p>

      <p>Medical and Biological Image Processing (it will not be offered next year)</p>

      <p>Additional electives  (<a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmecd%2Fcurriculo&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=WRS2iHUGt7BG4JfNYTOqrG4vPTgHrLJn8tDu3yjj2cQ%3D&reserved=0">Master in Data Science and Engineering</a>)</p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmecd%2Fdisciplina-curricular%2F1127428915200151&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=NxHZe3zobNQXzcDvhQX8ifT3qiP9FhCynzVzJhswnVE%3D&reserved=0">Artificial Intelligence and Decision Systems</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmecd%2Fdisciplina-curricular%2F1127428915200168&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=KC8fcTWEszJEhaFO98atpreHE8ZVKCi9nC0pVbVDrpk%3D&reserved=0">Applied Computational Intelligence</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmecd%2Fdisciplina-curricular%2F1127428915200135&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=N4nXa3vqo2NYgaDQIPJNCCcxpzasCfFVpuEkCBMBD30%3D&reserved=0">Data Analysis and Integration</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmecd%2Fdisciplina-curricular%2F1127428915200164&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=i1oVzTLRtDjhH5jN04DOQVLx6m3MsIzGa42z7o%2BVO4g%3D&reserved=0">Statistical Methods in Data Mining</a></p>

      <p><a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2Fcursos%2Fmecd%2Fdisciplina-curricular%2F1127428915200131&data=05%7C01%7CInna.Sukhotinsky%40biu.ac.il%7Cc204ca7256a049bc5dec08dadebb625c%7C61234e145b874b67ac198feaa8ba8f12%7C1%7C0%7C638067193668492041%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=rOkFX6CeNBLDO6A0O6BiJh434tnyL73QoSOnYUjfy1E%3D&reserved=0">Information Visualization</a></p>

      <p>Project (thesis preparation)</p>

      <p>Thesis</p>

      <h5>Cognitive Neuroscience and Clinical Neuropsychology with Data Processing</h5>

      <h6>Department of General Psychology, University of Padua, Italy</h6>

      <p>Second-year studies at the University of Padua (UniPD) focus on cognitive approaches to neuroscience, which try to capitalise on the data analysis approach for improved understanding of the neurofunctional correlates of the human mind. Activities will be based on data science approaches relevant to clinical, theoretical, and cognitive neuroscience and neuropsychology.</p>

      <p>A particular emphasis is on understanding the human brain and mental functioning, with applications in basic research and diagnosis, cognitive or psychological rehabilitation and cognitive enhancements. In short, students will become experts in both standard and pathological aspects of the functioning of the human mind.</p>

      <p>Second year courses at UniPD</p>

      <p>Optional course units (student should choose 1 of the following course units):</p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSP4064782/N0">Human electrophysiology</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSO2044182/N0">Cognitive neuroscience of action</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSQ0091399/N0">Neuropsychological assessment and rehabilitation</a></p>

      <p>Optional course units (student should choose 1 of the following course units)</p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1089/000ZZ/PSO2044204/N0">Clinical neuropsychology</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1089/000ZZ/PSN1032285/N0">Affective neuroscience and psychopathology</a></p>

      <p>Optional course units (student should choose 1 of the following course units)</p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSO2044195/N0">Advanced social psychology and social neuroscience</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSQ0091279/N0">New concepts in developmental psychology</a></p>

      <p>Optional course units (student should choose 1 of the following course units)</p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSQ0091401/N0">Neural networks and deep learning</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2021/LM/PS/PS1932/000ZZ/PSQ1096518/N0">Machine learning for brain and cognition</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSP5073004/N0">New trends in neuroscience</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2021/LM/PS/PS1932/000ZZ/PSQ1096519/N0">New technologies and human behaviour</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2022/LM/PS/PS1932/000ZZ/PSQ1096499/N0">Animal models in neurobiology</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2024/LM/PS/PS1932/000ZZ/PSQ3103206/N0">Ethics and deontology in psychology</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2023/LM/PS/PS1932/000ZZ/PSP4065303/N0">Neurology</a></p>

      <p><a href="https://en.didattica.unipd.it/off/2023/LM/PS/PS1932/000ZZ/PSP4065306/N0">Neurosurgery</a></p>

      <p>Internship</p>

      <p>Thesis</p>

      <h5>Systems Neuroscience and Data Processing</h5>

      <h6>Faculty of Science and Vrije University Medical Center<br>
      Vrije Universiteit Amsterdam, The Netherlands</h6>

      <p>Second-year studies at Vrije Universiteit Amsterdam (VUA) focus on fundamental, behavioural, and clinical neuroscience research. At VUA, students will expand their expertise in system neuroscience. The topics covered include Anatomy and Neurosciences, Clinical Neurophysiology, Neurology, Pathology, Physics and Medical Technology, Psychiatry, and Radiology. Clinical and translational research at the VUA is organised in world-renowned research centres where many of these departments collaborate.</p>

      <p>Examples of these interdisciplinary collaborations include the Alzheimer's Centre, the Multiple Sclerosis (MS) Centre, and the VU medical center Imaging Centre. In short, students will be working in an interdisciplinary way, integrating information from genes and proteins to synapses and from networks to complex brain function and dysfunction. When the students graduate, they will have a clear understanding of critical scientific approaches and an awareness of the ethical and social dilemmas within the neurosciences sector.</p>

      <p>Second year courses at VUA</p>

      <p>Mandatory courses:</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1018#/">Neurophilosophy and Ethics </a></p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1250#/">Career and Academic Skills Portfolio </a></p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1269#/">Thesis (Internship II) </a></p>

      <p>Elective courses (4 from the list):</p>

      <p>A combination of 2 Electives should be selected within the same track in period 1 (P1) and period 2 (P2)</p>

      <p>Track Fundamental Neurosciences</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1218#/">Cellular Models for Brain Disorders </a>P1</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_470726#/">Live Cell Imaging</a> P1</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1217#/">Neuron-Glia Interaction P1 </a></p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_470713#/">Developmental Neurobiology of the Vertebrate Brain </a>P2</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_470728#/">Methods in Behavioral Neurosciences </a>P2</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1001#/">Neuronal Networks In Vivo</a> P2</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_470712#/">System Neuroscience </a>P2</p>

      <p>Track Clinical Neurosciences</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_470718#/">Neuro- and Psychopharmacology</a> P2</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_1003#/">Rhythms of the Brain</a> P2</p>

      <p><a href="https://studiegids.vu.nl/en/Master/2022-2023/neurosciences-research/AM_470700#/">Experimental and Clinical Neuroendocrinology </a>P2</p>

      <p>TOTAL (4 Electives, CASP, Neurophil&Ethics, thesis)</p>

      <h5>Cognitive Neuroscience and Neuroimaging with Data Processing</h5>

      <h6>Faculty of Education and Psychology<br>
      University of Jyväskylä, Finland</h6>

      <p>Second-year studies at the University of Jyväskylä (JYU) will focus on neuroimaging and data processing in developmental, neurolinguistic, and cognitive neuroscience. The curriculum provides advanced knowledge in cognitive neuroscience, neuroimaging techniques, and data science-orientated data analysis and visualisation in this field.</p>

      <p>JYU’s pedagogical approach is based on student-centred methods and multidisciplinary phenomenon-based teaching and learning. JYU has a long history in cognitive and behavioural neuroscience research and computational and data sciences. Moreover, JYU brings an added value of solid experience and emphasis on imaging technology, instrumentation, and development.</p>

      <p>Second year courses at JYU</p>

      <p>Select 20 ECTS from these courses</p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-55325459-6425-4609-a8c6-441b6b5a541d/brochure">Basics of signal processing</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-e3d65a70-7979-49ca-9f92-b33c31d660c0/brochure">Deep learning for cognitive computing</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-c516af08-695f-473e-9c81-a25d6f5366c1/brochure">Deep learning for cognitive computing for developers</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-2fae6395-6916-4ff1-a069-d3aaa7c8e43e/brochure">Collective Intelligence and agent technology</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-f94436b3-1c6d-4c30-86e8-b2846ae20a81/brochure">SOA and cloud computing</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-f9f3b06b-14ac-46fd-9a8e-8724c323ada1/brochure">Communication Systems and Services</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-e2070808-fcfa-4ba3-8d89-018795c37086/brochure">Anatomy and physiology of the central and autonomic nervous system</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-48cf3ce8-d2ee-4ca8-b842-6df6f66921d2/brochure">Experimental methods in neuroscience</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-defd55f9-12d8-4c83-87b2-8797dd0456c7/brochure">Basics of brain imaging</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-71859d03-d55f-4ee3-8a19-266b4531a208/brochure">Neuroscience practicum</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-fcbf9217-390b-4456-8c96-2a6e1ccc1b68/brochure">Current issues in cognitive neuroscience</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-e7b723bc-f3e6-464c-93ec-7a51dea5647b/brochure">Neurobiology of learning and memory</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-6e55eccb-3682-41d4-b024-1fd8a4d0b2a0/brochure">Developmental language-related disorders</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-5ffd0912-8c21-484d-aab5-27e848b251d3/brochure">Motor control and human neuroscience</a></p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-253b721e-1a54-4574-8655-223da026a415/brochure">Analysis methods for Cognitive Neuroscience</a></p>

      <p>Brain development</p>

      <p><a href="https://sisu.jyu.fi/student/courseunit/otm-74a7cb63-71fa-4d37-9004-3f960a5b5e4d/brochure">Current applications of cognitive neuroscience</a></p>

      <p>Thesis</p>
    </div>
  </section>
</Base>
