---
import Base from '../layouts/Base.astro';
---

<Base title="NeuroData | Graduate School" currentPath="/programme-costs">
  <section class="page-section">
    <div class="container prose">
      <h1>Erasmus Joint Master Scholarships</h1>

      <p>NeuroData is an Erasmus Mundus Joint Master (EMJM) co-funded by the European Union. This funding provides NeuroData with the capacity to award scholarships. NeuroData will have four editions (the first in 2023-2024 and the last in 2026-2027). The following rules apply to the award of scholarships:</p>

      <ul>
        <li>Grant of €1.400 per month for each scholarship holder. This scholarship will be transferred to the holder's account. It will be managed by them to support all travel and living expenses for the duration of each edition of NeuroData (2 Years = 24 months). This amount will also have to be used to support the costs for visas or any other permit that may be required for residence in the countries of the partner universities.</li>
        <li>NeuroData will award 10-15 scholarships in each edition, with the restriction that no more than 10% of the scholarships (throughout NeuroData's tenure) will be awarded to students from the same nationality during the program duration.</li>
        <li>Students who have previously obtained an EMJM scholarship are not eligible to apply for an additional scholarship under the EMJM.</li>
        <li>Upon acceptance, students will be requested to sign a <a href="/files/e38a64_1e366d65fe674fc49e98fe43ce1fc3c7.pdf">student agreement</a>.</li>
      </ul>

      <p>Students who will be granted a scholarship will have the following costs covered:</p>

      <ul>
        <li>Health and accident insurance during the whole academic period.</li>
        <li>The registration of the student as a regular student of the partner universities.</li>
        <li>Tuition fees.</li>
        <li>Language courses at each university.</li>
        <li>Access to library and laboratories.</li>
        <li>Student management, services and activities; support in visa application procedures and other local administrative amenities.</li>
        <li>Initial Welcome Week for all NeuroData students.</li>
        <li>Registration and participation in the events organized under the scope of NeuroData.</li>
        <li>All other academic and administrative fees (e.g., Final Diploma, Diploma Supplement).</li>
      </ul>

      <h6>Self-funded students</h6>

      <p>In each edition, in addition to the students who will be awarded scholarships, NeuroData will be able to enroll 5 SELF-FUNDED STUDENTS, for whom we are unable to provide any economic support from the program and will have to provide themselves with all travel, living, and participation costs in the course, including tuition fees.</p>

      <p>During the application process, the applicants can indicate if their application should keep being considered even if no more scholarships are available (therefore, with the possibility of enrolling as self-funded students if their assessment entitles them).</p>

      <p>Self-funded students will be entitled to:</p>

      <ul>
        <li>Health and accident insurance during the whole academic period.</li>
        <li>Language courses at each university.</li>
        <li>Access to library and laboratories.</li>
        <li>Student management, services, and activities; reasonable support in visa application procedures, etc.</li>
        <li>Initial Welcome Week for all NeuroData students.</li>
        <li>Self-funded students will also be requested to sign a <a href="/files/e38a64_91bb811a4e0f431f89a3547ff5d8870b.pdf">student agreement</a>.</li>
      </ul>

      <p>Values in the table are in Euros.</p>

      <h6>Additional scholarships can be provided or applied to by self-funded students.<br>
      <br>
      BIU</h6>

      <p>A first-year tuition waiver and a local monthly sustenance scholarship of about 740 euros may be awarded to self-funded students, depending on availability.</p>

      <p>UNIPD <br>
      scholarships and fee waivers<br>
      <a href="https://www.unipd.it/en/scholarships-international-students">https://www.unipd.it/en/scholarships-international-students</a></p>

      <p>The "Regione Veneto scholarship" or "regional scholarship":  <a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.unipd.it%2Fen%2Fveneto-region-scholarship&data=05%7C02%7Cinna.sukhotinsky%40biu.ac.il%7C2ba0c5af035d46b6f6c408dd15de43fa%7C61234e145b874b67ac198feaa8ba8f12%7C0%7C0%7C638690766602933751%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&sdata=WqrfTBshcT6xwR95mECsDPdFk5ZuuZjD2Cnbq3kdPEk%3D&reserved=0">https://www.unipd.it/en/veneto-region-scholarship</a> (information will become available again in summer).<br></p>

      <p>IST</p>

      <p>A scholarship is available for outstanding students based on academic merit<br>
      <a href="https://tecnico.ulisboa.pt/en/tag/scholarships/">https://tecnico.ulisboa.pt/en/tag/scholarships/</a><br>
      <a href="https://studyinlisbon.pt/en/grants-fellowships/">https://studyinlisbon.pt/en/grants-fellowships/</a></p>

      <p>VUA<br>
      <a href="https://vu.nl/en/education/more-about/incoming-master-scholarships">https://vu.nl/en/education/more-about/incoming-master-scholarships</a></p>

      <p>JYU<br>
      <a href="https://www.jyu.fi/en/study-with-us/masters-degree-programmes/scholarships-tuition-fees">https://www.jyu.fi/en/study-with-us/masters-degree-programmes/scholarships-tuition-fees</a><br>
      <a href="https://vu.nl/en/education/more-about/incoming-master-scholarships">https://vu.nl/en/education/more-about/incoming-master-scholarships</a></p>

      <img src="/images/scholarship-costs-table.png" alt="Screenshot 2024-05-03 at 20.28.58.png" loading="lazy">
    </div>
  </section>
</Base>
